.guests--aside {
    display: block;
    float: right;
    width: 25%;
    text-align: left;
}

.details {
    display: block;
    width: 75%;
}

    .detail--column {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

        .serviceListDiv {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 100px;
        }

            .leftServiceList {
                grid-column: 1;
                grid-row: 1;
                border: 1px black solid;
                padding: 8px 16px 8px 16px;
            }

            .rightServiceList {
                grid-column: 2;
                grid-row: 1;
                border: 1px black solid;
                padding: 8px 50px 8px 16px;
            }

        .destinationGrid {
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr;
        }

footer {
    text-align: center;
}